@media (max-width: 979px) {
    .main {
        width: 82%;
    }
    .foot1 {
        display: none;
    }
    .foot {
        width: 82%;
    }
    .img-fluid {
        width: 180px;
        height: 224px;
    }
}
@media (max-width: 720px) {
    .img-fluid {
        width: 180px;
        height: 224px;
    }
    .foot {
        display: block;
    }
    .foot2 {
        margin-bottom: 60px;
    }
}